header {
  background-color: #ffffff;
  border: 1px;
}

span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 35.96px;
  color: #2196f3;
  text-decoration: none;
}

.logo {
  color: black;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

ul {
  list-style-type: none;
}

.web-navigation {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  font-family: "Roboto";
  line-height: 1.17;
}

.web-navigation:hover {
  color: #2196f3;
}

.contact-links {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Roboto";
  text-decoration: none;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.projects-type {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 174px;
}

.projects-type:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}

.project-name {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

figure {
  border: 1px solid #eeeeee;
  width: 100%;
  text-align: eleft;
}

.project-category {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87px;
}

.address {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.footer-mail {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

.footer-phone {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  color: #ffffff;
}
