header {
  background-color: #ffffff;
  border: 1px;
}

span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 35.96px;
  color: #2196f3;
  text-decoration: none;
}

.logo {
  color: black;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

ul {
  list-style-type: none;
}

.web-navigation {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  line-height: 1.17;
}

.web-navigation:hover {
  color: #2196f3;
}

.contact-links {
  color: #757575;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  font-weight: 500;
}

.contact-links:hover {
  color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.projects-type {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 121px;
  height: 38px;
  margin-top: 174px;
}

.projects-type:hover {
  background-color: #2196f3;
  color: #f5f4fa;
}

.project-name {
  background-color: #ffffff;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

figure {
  border: 1px solid #eeeeee;
  width: 370px;
  text-align: left;
  line-height: 2;
}

figcaption {
  line-height: 1.88;
}
.project-category {
  background-color: #ffffff;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.web-text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: #2196f3;
  text-decoration: none;
}

.studio {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

.footer-phone {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-tittle {
  line-height: 1.17;
  color: #212121;
}

.employee {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: #212121;
}

.job-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: #757575;
}

.what-we-do {
  line-height: 1.17;
  color: #212121;
}

.order {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 200px;
  height: 50px;
}

.section-primary {
  width: 1600px;
  height: 600px;
  background: #2f303a;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
}

.text-studio {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
}
